.right-column{
    width: 70%;
    float: inherit;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
    display: inline-block;
}

.right-text{
    float:right;
    padding: 10px;
    display: inline-block;
}

.left-column{
    display: inline-block;
    width: 20%;
    float: left;
    padding: 20px;
    /*border: 3px solid #515bad;*/
}
.img{
    max-width: 100%;
    height: auto;
}
.center{
    text-align: center;
    vertical-align: middle;
}

.title-form{
    color: #515bad;
    text-transform: uppercase;
    font-family: "Roboto Thin", serif;
}

.second-title-color{
    color: rgba(40, 37, 48, 0.67);
    font-family: "Roboto Thin", serif;
}

.third-title-form{
    font-family: "Roboto Thin", serif;
    height: 22px;
    margin: 5px;
    font-size: larger;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #515bad;
    color: white;
    text-transform: uppercase;
}

span, .text{
    font-family: "Roboto Light", serif;
    display: block;
    margin: 1em 0;
}

.bold{
    font-size: large;
    font-family: "Roboto", serif;
}

.blue-text{
    color: #515bad;
    font-family: "Roboto", serif;
    font-size: medium;
}