.right-column{
    float: right;
    width: auto;
    border: 3px solid #73AD21;
    padding: 10px;
}

.left-column{
    width: 300px;
    margin-left:auto;
    margin-right:0;
    border: 3px solid #515bad;
}