.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.right-column{
    flex: 1 1 60em;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
    min-width: 25em;
}

.left-column{
    flex: 2 2 20em;
    padding: 20px;
    /*border: 3px solid #515bad;*/
    min-width: 15em;
}

.right-text{
    float:right;
    padding: 10px;
    display: inline-block;
}

.left-text{
    float:left;
    display: inline-block;
}

.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1 1 auto;
    flex-direction: row;
    /*border: solid;*/
}

.col-align-end{
    align-self: flex-end;
}

.img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.center{
    text-align: center;
    vertical-align: middle;
}

.title-form{
    color: #515bad;
    text-transform: uppercase;
    font-family: "Roboto Thin", serif;
}

.second-title-color{
    color: rgba(40, 37, 48, 0.67);
    font-family: "Roboto Thin", serif;
}

.third-title-form{
    font-family: "Roboto Thin", serif;
    height: 22px;
    margin: 5px;
    font-size: larger;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #515bad;
    color: white;
    text-transform: uppercase;
}

span, .text{
    font-family: "Roboto Light", serif;
    display: block;
    margin: 1em 0;
    text-align: justify;
    text-justify: inter-word;
}

.bold{
    font-size: large;
    font-family: "Roboto", serif;
}

.blue-text{
    color: #515bad;
    font-family: "Roboto", serif;
    font-size: medium;
}

.inline {
    display: inline-block;
}

.block {
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    margin: 0.75em 2px 2px 2px;
    border: 1px solid rgb(120, 120, 255);
}

.blue {
    background: #515bad;
}

.empty-color {
    background: rgb(199, 201, 255);
}